.innerMyTournaments {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#Tour1 {
  margin: auto;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 0 2px 15px 5px black;
}

#Tour2 {
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 2px 15px 5px black;
}