.PlayerCard {
  background-color: #16697a;
  margin: auto;
  margin-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.PlayerDescription {
  min-height: 0px;
  margin: auto;
  margin-bottom: 10px;
}

.PlayerImage {
  width: 90%;
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  border: 1px solid black;
}
