.ProfilePage {
  display: flex;
  align-items: center;
}

.ProfileDiv {
  width: 40%;
  background-color:#16697a;
  border-radius: 30px;
  margin: auto;
  margin-top: 5%;
  border: 5px solid #242423;
}

.ProfilePictureDiv {
  width: 100%;
  margin: auto;
  margin-top: 25px;
  text-align: center;
}

.user-info-row {
  display: flex;
  margin-left: 15px;
}

.user-field {
  margin: auto;
  margin-left: 8%;
}

.user-value {
  margin: auto;
  margin-right: 8%;
  color: #ffa62b;
}

.ButtonsProfileDiv {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 25px;
}
